<%= render 'layouts/home' %>

<div id="masonry-container" class="transitions-enabled centered clearfix">
  <% @projects.each do |project| %> 
    <div class="box panel panel-default">
      <%= link_to image_tag(project.image.url(:medium)), project %>
      <div class="panel-body">
          <%= project.title %>
          <%= project.user.name if project.user %>
          <%= project.description %>
          <% if project.user == current_user %>
            <%= link_to 'Edit', edit_project_path(project) %>
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </div>  
    </div>
  <% end %>
</div>
<%= will_paginate @projects, :page_links => false %>