<div id="show-page">
  <div class="row">
    <% if @project.user == current_user %>
      <div class="col-md-12">
        <%= link_to 'Edit Your Project', edit_project_path(@project), class: "btn btn-success btn-lg" %>
      </div>
    <% end %>

    <div class="col-md-12" id="show-title">
      <h1> <%= @project.title %>
        <% if !@project.is_published %>
          <span class="label label-warning">Draft</span> 
        <% end %> 
      </h1>
      <h4> Published by: <%= @project.user.name %> </h4> 
    </div> 
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="main-image-wraper">
        <div class="main-image-show" style="background-image: url('<%= @project.image.url(:large)%>')"> </div> 
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="project-main-info">
        <h3>The project in a sentence:<br/>
          <small><%= @project.blurb %></small>
        </h3>
        <% if @project.budget != nil %>
          <h3>Project Budget:<br/>
            <small> $<%= @project.budget %> </small>
          </h3>
        <% end %>
         <h3>Located in:<br/>
          <small> <%= raw(@project.location) %> </small>
        </h3>
         <h3>Pulished:
            <% if !@project.is_published %>
              <span class="label label-warning">Unpublished</span> 
            <% end %>
            <% if @project.is_published %>
              <br/> 
              <small> <%= @project.published_at.strftime('%a, %b %d %Y %H:%M%p (%Z)') %> </small>
            <% end %>
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
   <div class="col-md-12">
    <hr class="hr-divider">
   </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="project-story-wraper">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#sectionA">Story</a>
          </li>
          <li>
            <a data-toggle="tab" href="#sectionB">Updates</a>
          </li>
          <li>
            <a data-toggle="tab" href="#sectionC">Comments</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="sectionA" class="tab-pane fade in active project-story-text">
              <section>  <%= raw(@project.description) %> </section>
          </div>
          <div id="sectionB" class="tab-pane fade">
              <section class="lead">In this section the owner of the project will add information and updates regarding his project</section>
          </div>
          <div id="sectionC" class="tab-pane fade">
              <section>Comments interface...</section>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="project-solution-wraper">
        <div class="solution-button">
          <%= link_to raw('<i class="fa fa-lightbulb-o"></i> Add your solution'), new_project_solution_path(@project), class: "btn btn-warning btn-lg btn-width-100" %></li>
          <hr>
        </div>
        <div class="solutio-body"> 
          <% @solutions.where(:project_id => @project).each  do |solution| %>
            <div class="well">
              <%= solution.user.name %> <br/>
              <%= solution.project_id %> <br/>
              <%= solution.title %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>  
</div>






