<p><%= link_to 'Back', projects_path %></p>
<%= image_tag @project.image.url(:medium) %>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<% if @project.user == current_user %>
	<%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>


