<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @solution.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @solution.description %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @solution.votes %>
</p>

<p>
  <strong>Admin approval:</strong>
  <%= @solution.admin_approval %>
</p>

