<!DOCTYPE html>

<html lang="en">

<head>
  <%= metamagic %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application' , media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'signup' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="ZTFE_S-9lRvdz3SDwt9X-uQsf08EgS9KNmKPjXd4kGg" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="controller-<%= params[:controller] %>">

	<%= render 'layouts/header' %>
<div class="mt-115">
	<%= render 'layouts/messages' %>
	<%= yield %>
</div>
  <%= render 'layouts/footer' %>
</body>
</html>
